@import url('https://fonts.cdnfonts.com/css/halloween-spooky');
@import url(https://fonts.googleapis.com/css?family=Denk+One);
@import url('https://fonts.googleapis.com/css?family=Nosifer&display=swap');

:root{
    --med-e-vote-blue:#092eae;
    --med-e-vote-bright-green: #54E445;
    --med-e-vote-gray: #DFE6F3;
}

.home-med-e-vote,
.home-med-e-vote * {
  box-sizing: border-box;
}
.home-med-e-vote {
  background: #ffffff;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.banner {
  background: var(--med-e-vote-blue, #092eae);
  padding: 3rem 7vh;
  gap: 44px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.nav{
    margin-left: auto;
    width: 30%;
}
.nav ul{
    justify-content: space-around;
    align-items: baseline;
    list-style: none;
    width: 100%;
    position: relative;
}



.nav ul .nav-item{
    background-color: white;
    /* color: white; */
    border-radius: 50px;
    padding: 7px 20px;
    width: 100%;
    /* background: var(--med-e-vote-gray, #DFE6F3); */
    text-decoration: none;
    position: relative;
}

.nav ul .nav-item:hover{
    background-color: var(--med-e-vote-bright-green);
    color: white;
    transition: .3s ease;
}

.logo-mdc {
  background: linear-gradient(to left, #ffffff, #ffffff);
  border-radius: 153px;
  border-style: solid;
  border-color: #f1f1f1;
  border-width: 7px;
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
}

.logo-mdc2 {
  background: linear-gradient(to left, #ffffff, #ffffff);
  border-radius: 153px;
  border-style: solid;
  border-color: #f1f1f1;
  border-width: 7px;
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  position: relative;
  overflow: hidden;
}
.profile-icon {
    background: linear-gradient(to left, #ffffff, #ffffff);
    border-radius: 62px;
    flex-shrink: 0;
    width: 55px;
    height: 55px;
    box-shadow: -2px 1px 5px #0000003b;
    outline: 2px solid var(--med-e-vote-blue);
    outline-offset: 0px;
    position: relative;
    overflow: hidden;
  
}
.med-e-vote {
  color: var(--adm-brighter-yellow-green, #02ff2e);
  text-align: center;
  font: 900 11vw "Inter", sans-serif;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}
.body-1 {
  background: var(--med-e-vote-gray-2, #f8f8f9);
  position: relative;
}
.home-register-btn{
    background: var(--med-e-vote-bright-green, #54e445);
    border-radius: 59px;
    /* padding: 14px 18px; */
    width: 180px;
    height: 55px;
    /* outline: none; */
    border: none;
    color: var(--med-e-vote-blue, #092eae);
    text-align: center;
    font: 500 27px/18px "Inter", sans-serif;
    position: relative;
    outline: 1px solid var(--med-e-vote-bright-green);
    transition: all .3s ease-in;

}
.home-register-btn::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border: 4px solid var(--med-e-vote-bright-green);
    border-radius: 59px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  .home-register-btn:not(:hover) {
    transition: all 0.3s ease-in; /* Apply a shorter transition time for smooth exit from hover */
  }
  
  .home-register-btn:hover::before {
    opacity: 1;
  }
  
  .home-register-btn:hover {
    box-shadow: 2px 3px 5px #0000004d;
  }

.docs-side-profile{
    height: 30rem;
    top: -110px;
    position: absolute;
}
.welcome-to-your-med-e-vote {
  text-align: left;
  font: 700 90px "Inter", sans-serif;
  position: relative;
  align-self: stretch;
}
.welcom-to-your {
  color: var(--med-e-vote-blue-gray, #a4aec1);
  font: 700 60px "Inter", sans-serif;
}
.mede-vote {
  color: var(--med-e-vote-blue, #092eae);
  font: 700 60px "Inter", sans-serif;
}
.you-can-cast {
  color: var(--med-e-vote-blue, #092eae);
  text-align: left;
  /* width: 72vh; */
  font: 400 20px "Inter", sans-serif;
  position: relative;
  align-self: stretch;
}

.body-2 {
  background: var(--med-e-vote-light-blue, #e4eaff);
  padding: 51px 41px;
  /* gap: 13px; */
}
.frame-158 {
  background: var(--med-e-vote-blue, #092eae);
  border-radius: 25px;
  padding: 57px 43px;
  margin: 0 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
}
.frame-158 i{
    font-size: 8vw;
    color: var(--med-e-vote-bright-green);
}

.frame-158:hover{
    background: radial-gradient(var(--med-e-vote-blue, #092eae),var(--med-e-vote-dark-blue, #002197));
    transition: all .03s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.summary-text {
  color: var(--med-e-vote-gray, #dfe6f3);
  text-align: center;
  font: 700 50px "Inter", sans-serif;
  position: relative;
  width: 655px;
}
.summer-inn-text {
  color: var(--med-e-vote-gray, #dfe6f3);
  text-align: center;
  font: 400 24px "Inter", sans-serif;
  position: relative;
}

.body-3 {
  background: var(--med-e-vote-blue, #092eae);
  padding: 61px 0px ;
}


.mask-group {
  width: fit-content;
  height: 120px;
  position: static;
}

._14 {
  color: var(--med-e-vote-gray, #dfe6f3);
  text-align: center;
  font: 400 400px/96.52% "Inter", sans-serif;
  position: relative;
  width: 655px;
}

.days-more {
  border-radius: 50px;
  color: var(--adm-off-white-texts, #f3f3f3);
  text-align: center;
  font: 400 64px "Inter", sans-serif;
  position: relative;
  padding: 8px 17px;
  width: fit-content;
  /* outline: 0px solid var(--med-e-vote-bright-green); */
  /* outline-offset: 0px; */
  /* transition: all .3s ease-in; */
  transition:all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

}

.days-more::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border: 4px solid var(--med-e-vote-bright-green);
    border-radius: 50px;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.5s ease-in-out;
  }
  
  .days-more:hover::before {
    opacity: 1; /* Show the outline on hover */
  }
  
  .days-more:hover {
    box-shadow: 2px 3px 5px #0000004d;
  }
.days-more:not(:hover) {
    transition: all 0.5s ease-in; /* Apply a shorter transition time for smooth exit from hover */
  }

.footer-inner {
  background: var(--med-e-vote-dark-blue, #002197);
  padding: 26px 31px;
  align-items: center;
  
  overflow: hidden;
}
.contact {
  color: var(--med-e-vote-bright-green, #54e445);
  text-align: left;
  font: 400 20px "Inter", sans-serif;
  text-decoration: none;
  cursor: pointer;

}
.contact:hover{
    text-decoration: underline;
    color: white;
    transition: all .3s ease-in;

}

.social-item{
    width: fit-content;
    font-size: 20px;
    border-radius: 50px;
    background-color: var(--med-e-vote-bright-green, #54e445);
    color: #002197;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 4px 10px;
    transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    
}



.social-item:hover{
    background-color: white;
    box-shadow: 2px 3px 15px #000000c9;
    /* margin-bottom: 10px; */
    transform: scale(1.1);
    /* position: relative; */
    /* top: -4px; */
    transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);

}

.img-canvas{
    height: 30.3rem;
}
.content-msg{
    padding: 4.3rem;
}

.mask-group i{
    font-size: 95px;
    background: var(--med-e-vote-bright-green);
    color: var(--med-e-vote-blue);
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 85px;
}
@media only screen and (min-width: 1265px) {
    .docs-side-profile{
        height: 34.4rem;
        top:-64px;
        /* left: 25%; */
    }
}

@media only screen and (max-width: 1265px) {
    .nav {
      width: 40%;
    }
    .banner{
        padding: 3rem 5vh;
    }
    .logo-mdc{
        width: 70px;
        height: 70px;
    }
    .nav ul .nav-item{
        padding: 5px 15px;
    }
    .docs-side-profile{
        height: 30rem;
        top:-64px;
        /* left: 25%; */
    }
    .img-canvas{
        height: 26rem;
    }
    .content-msg{
        padding: 2rem;
    }
    .welcom-to-your {
        color: var(--med-e-vote-blue-gray, #a4aec1);
        font: 700 45px "Inter", sans-serif;
      }
      .mede-vote {
        color: var(--med-e-vote-blue, #092eae);
        font: 700 45px "Inter", sans-serif;
      }
      .home-register-btn{
        /* padding: 8px 12px; */
        width: 150px;
        height: 52px;
        text-align: center;
        font: 500 24px/10px "Inter", sans-serif;
        position: relative;
    }
    .summary-text{
        font-size: 40px;
    }
    .summer-inn-text{
        font-size: 20px;
    }
}

@media only screen and (max-width: 846px) {
    .nav {
        width: 50%;
      }
      .banner{
          padding: 8vh 4vh;
      }

    .docs-side-profile{
        height: 25.9rem;
        top: -70px;
    }

    .img-canvas{
        height: 20rem;
    }

    .welcom-to-your {
        color: var(--med-e-vote-blue-gray, #a4aec1);
        font: 700 35px "Inter", sans-serif;
      }
      .mede-vote {
        color: var(--med-e-vote-blue, #092eae);
        font: 700 35px "Inter", sans-serif;
      }
      .home-register-btn{
        /* padding: 8px 12px; */
        width: 130px;
        height: 45px;
        text-align: center;
        font: 500 24px "Inter", sans-serif;
        position: relative;
    }

    .summary-text{
        font-size: 35px;
    }
    .summer-inn-text{
        font-size: 18px;
    }

    ._14{
        font-size: 200px;
        width: fit-content;
    }

    .days-more{
        font-size: 44px;
    }
    .social-item{
        height: 30px;
        width: 30px;
        font-size: 15px;
        margin: 2px;
    }
    .logo-mdc2{
        width: 50px;
        height: 50px;
    }
}

@media only screen and (max-width: 748px) {
    .nav {
        width: 58%;
      }
    .docs-side-profile{
        height: 19.5rem;
        top: -70px;
    }

    .img-canvas{
        height: 15rem;
    }

    .welcom-to-your {
        color: var(--med-e-vote-blue-gray, #a4aec1);
        font: 700 25px "Inter", sans-serif;
      }
      .mede-vote {
        color: var(--med-e-vote-blue, #092eae);
        font: 700 25px "Inter", sans-serif;
      }
      .home-register-btn{
        /* padding: 8px 12px; */
        width: 120px;
        height: 35px;
        text-align: center;
        font: 500 20px "Inter", sans-serif;
        position: relative;
    }
    #screenresponsive{
        display: none;
    }
    .summary-text{
        font-size: 28px;
    }
    .summer-inn-text{
        font-size: 18px;
    }

    .frame-158{
        padding: 37px 18px;
    }
    .body-2{
        padding: 31px 15px;
    }
    .you-can-cast{
        font-size: 18px;
        margin: 0;
    }
    .social-item{
        height: 30px;
        width: 30px;
        font-size: 15px;
        margin: 2px;
    }
    .logo-mdc2{
        width: 50px;
        height: 50px;
    }
    .contact{
        font-size: 18px;
    }
    .footer-inner{
        padding: 15px 21px;
    }
}

 @media only screen and (max-width: 598px) {
    .logo-mdc{
        height: 50px;
        width: 50px;
    }
    .nav ul .nav-item{
        padding: 2px 10px;
    }
    .profile-icon{
        width: 46px;
        height: 46px;
    }
    .nav {
        width: 65%;
      }

    .docs-side-profile{
        height: 15.3rem;
        top: -53px;
    }

    .img-canvas{
        height: 25vh;
    }
    .welcom-to-your {
        color: var(--med-e-vote-blue-gray, #a4aec1);
        font: 700 20px "Inter", sans-serif;
        margin: 0;
      }
      .mede-vote {
        color: var(--med-e-vote-blue, #092eae);
        font: 700 20px "Inter", sans-serif;
        margin: 0;
      }

      .you-can-cast{
        font-size: 15px;
        margin: 0;
    }

    .content-msg{
        padding: 1.4rem;
    }
    .summary-text{
        font-size: 18px;
    }
    .summer-inn-text{
        font-size: 15px;
    }

    .frame-158{
        padding: 27px 15px;
    }
    .body-2{
        padding: 21px 10px;
    }
    .you-can-cast{
        font-size: 15px;
        margin: 0;
    }

    .social-item{
        height: 24px;
        width: 24px;
        font-size: 15px;
        margin: 3px;
    }
    .logo-mdc2{
        width: 45px;
        height: 45px;
    }
    .contact{
        font-size: 13px;
    }
    .footer-inner{
        padding: 0px 39px;
    }
    .mask-group i{
        font-size: 55px;

        height: 60px;
        width: 60px;
    }
 }
 @media only screen and (max-width: 464px) {
    .logo-mdc{
        height: 45px;
        width: 45px;
    }
    .nav ul .nav-item{
        padding: 2px 10px;
        font-size: 13px;
    }
    .profile-icon{
        width: 37px;
        height: 37px;
    }
    .nav {
        width: 70%;
      }
      .frame-158 i{
        font-size: 10vw;
      }

    .docs-side-profile{
        height: 12rem;
        top: -32px;
    }

    .img-canvas{
        height: 10rem;
    }
    .welcom-to-your {
        color: var(--med-e-vote-blue-gray, #a4aec1);
        font: 700 16px "Inter", sans-serif;
        margin: 0;
      }
      .mede-vote {
        color: var(--med-e-vote-blue, #092eae);
        font: 700 16px "Inter", sans-serif;
        margin: 0;
      }

      .you-can-cast{
        font-size: 13px;
        margin: 0;
    }

    .content-msg{
        padding: 1.1rem;
        height: fit-content;
    }
    .summary-text{
        font-size: 15px;
        margin-bottom: 6px;
    }
    .summer-inn-text{
        font-size: 12px;
    }

    .frame-158{
        padding: 15px 6px;
    }
    .body-2{
        padding: 17px 6px;
    }
    .you-can-cast{
        font-size: 13px;
        margin: 0;
    }
    .home-register-btn{
        padding: 0px 12px;
        width: 80px;
        height: 25px;
        text-align: center;
        font: 500 13px "Inter", sans-serif;
        position: relative;
    }
}
/* @media only screen and (max-width: 512px) {
    .nav {
        width: 70%;
    }
    .banner{
        padding: 10vh 2vh;
    }
    .logo-mdc{
        width: 50px;
        height: 50px;
    }
    .nav ul .nav-item{
        padding: 5px 15px;
    }
    .docs-side-profile{
        height: 76vh;
        left: 13%;
        top:-72px;
    }
    .img-canvas{
        height: 61vh;
    }
    .content-msg{
        padding: 1.5rem;
    }
    
    ._14{
        font-size: 210px;
    }
    .days-more{
        font-size: 45px;
    }
    .logo-mdc2{
        width: 60px;
        height: 60px;
    }
} */