@import url('https://fonts.cdnfonts.com/css/halloween-spooky');
@import url(https://fonts.googleapis.com/css?family=Denk+One);
@import url('https://fonts.googleapis.com/css?family=Nosifer&display=swap');

:root{
    --med-e-vote-blue:#092eae;
    --med-e-vote-bright-green: #54E445;
    --med-e-vote-gray: #DFE6F3;
}

.home-med-e-vote,
.home-med-e-vote * {
  box-sizing: border-box;
}
.home-med-e-vote {
  background: #ffffff;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.banner {
  background: var(--med-e-vote-blue, #092eae);
  padding: 10vh 7vh;
  gap: 44px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.nav{
    margin-left: auto;
    width: 35%;
}
.nav ul{
    justify-content: space-around;
    align-items: baseline;
    list-style: none;
    width: 100%;
}


.nav ul .nav-item{
    background-color: white;
    border-radius: 50px;
    padding: 7px 20px;
    width: 100%;
    background: var(--med-e-vote-gray, #DFE6F3);
    text-decoration: none;
}
.logo-mdc {
  background: linear-gradient(to left, #ffffff, #ffffff);
  border-radius: 153px;
  border-style: solid;
  border-color: #f1f1f1;
  border-width: 7px;
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
}

.logo-mdc2 {
  background: linear-gradient(to left, #ffffff, #ffffff);
  border-radius: 153px;
  border-style: solid;
  border-color: #f1f1f1;
  border-width: 7px;
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  position: relative;
  overflow: hidden;
}
.profile-icon {
  background: linear-gradient(to left, #ffffff, #ffffff);
  border-radius: 62px;
  flex-shrink: 0;
  width: 55px;
  height: 55px;
  position: relative;
  overflow: hidden;
  
}
.med-e-vote {
  color: var(--adm-brighter-yellow-green, #02ff2e);
  text-align: center;
  font: 900 14vw "Inter", sans-serif;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}
.body-1 {
  background: var(--med-e-vote-gray-2, #f8f8f9);
  position: relative;
}
.home-register-btn{
    background: var(--med-e-vote-bright-green, #54e445);
    border-radius: 59px;
    padding: 15px 22px 15px 22px;
    width: 200px;
    height: 64px;
    outline: none;
    border: none;
    color: var(--med-e-vote-blue, #092eae);
    text-align: center;
    font: 500 34px/20px "Inter", sans-serif;
    position: relative;
}
.docs-side-profile{
    height: 120vh;
    top: -150px;
    position: absolute;
}
.welcome-to-your-med-e-vote {
  text-align: left;
  font: 700 90px "Inter", sans-serif;
  position: relative;
  align-self: stretch;
}
.welcom-to-your {
  color: var(--med-e-vote-blue-gray, #a4aec1);
  font: 700 80px "Inter", sans-serif;
}
.mede-vote {
  color: var(--med-e-vote-blue, #092eae);
  font: 700 80px "Inter", sans-serif;
}
.you-can-cast {
  color: var(--med-e-vote-blue, #092eae);
  text-align: left;
  width: 72vh;
  font: 400 27px "Inter", sans-serif;
  position: relative;
  align-self: stretch;
}

.body-2 {
  background: var(--med-e-vote-light-blue, #e4eaff);
  padding: 61px 51px 61px 51px;
  gap: 33px;
}
.frame-158 {
  background: var(--med-e-vote-blue, #092eae);
  border-radius: 25px;
  padding: 57px 43px 57px 43px;
  width: 48%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.summary-text {
  color: var(--med-e-vote-gray, #dfe6f3);
  text-align: center;
  font: 700 50px "Inter", sans-serif;
  position: relative;
  width: 655px;
}
.summer-inn-text {
  color: var(--med-e-vote-gray, #dfe6f3);
  text-align: center;
  font: 400 24px "Inter", sans-serif;
  position: relative;
}

.body-3 {
  background: var(--med-e-vote-blue, #092eae);
  padding: 77px 0px 77px 0px;
}


.mask-group {
  width: 144px;
  height: 144px;
  position: static;
}

._14 {
  color: var(--med-e-vote-gray, #dfe6f3);
  text-align: center;
  font: 400 400px/96.52% "Inter", sans-serif;
  position: relative;
  width: 655px;
}
.days-more {
  color: var(--adm-off-white-texts, #d6d6d6);
  text-align: center;
  font: 400 64px "Inter", sans-serif;
  position: relative;
  width: 655px;
}

.footer-inner {
  background: var(--med-e-vote-dark-blue, #002197);
  padding: 26px 31px;
  align-items: center;
  
  overflow: hidden;
}
.contact {
  color: var(--med-e-vote-bright-green, #54e445);
  text-align: left;
  font: 400 20px "Inter", sans-serif;
  text-decoration: none;
  cursor: pointer;

}
.contact:hover{
    text-decoration: underline;
    color: white;
    transition: all .3s ease-in;

}

.social-item{
    width: fit-content;
    font-size: 20px;
    border-radius: 50px;
    background-color: var(--med-e-vote-bright-green, #54e445);
    color: #002197;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 4px 10px;
    
}

.social-item:hover{
    background-color: white;
    box-shadow: 2px 3px 15px #000000c9;
    /* margin-bottom: 10px; */
    position: relative;
    top: -4px;
    transition: all .3s ease-in;

}